* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* Asegura que html y body ocupen toda la altura de la pantalla */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* Organiza el contenido en columna */
    min-height: 100vh;
    /* Asegura que el body tenga al menos la altura de la ventana */
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/fondo.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

main .descripción {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad del 90% */
    padding: 0.5rem; /* Espaciado interno alrededor del texto */
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
    max-width: 100%; /* Limita el ancho máximo para mejorar la legibilidad */
    margin: 1rem auto; /* Centrará el <div> y añadirá margen automático */
}

header {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    /* Fondo oscuro con transparencia */
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    /* Alinea verticalmente */
    justify-content: space-between;
    /* Distribuye el espacio entre el botón y el título */
}

header .btn {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;

}

header .btn:visited {
    color: white;
    /* Asegura que el color del texto permanezca blanco después de visitar */
}

header .btn:hover,
header .btn:focus {
    text-decoration: none;
    /* Elimina la subrayado en hover y focus */
    color: white;
    /* Mantiene el color del texto blanco en hover y focus */
}

main {
    flex: 1;
    /* Permite que el main ocupe el espacio disponible */
    padding: 2rem;
    box-sizing: border-box
        /* Incluye padding en el cálculo del ancho total */
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.proyecto {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: white;
    
}

.proyecto img {
    width: 100%;
    height: auto;
    
}

.proyecto h2 {
    font-size: 1.8rem; /* Ajusta el tamaño del texto del <h2> según sea necesario */
    margin: 1rem 0; /* Añadir margen superior e inferior */
}
.proyecto p {
    font-weight: 400; /* Grosor ligero para el texto del <p> */
    font-size: 1rem; /* Ajusta el tamaño del texto del <p> si es necesario */
    line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
    margin: 0.5rem 0; /* Añadir margen superior e inferior */
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.foto {
    width: 100%;
    /* Tamaño reducido de las imágenes */
    max-width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Transición suave al ampliar */
    border-radius: 10px; /* Bordes redondeados opcionales */

}

.foto:hover {
    transform: scale(1.05);
    /* Efecto de aumento al pasar el ratón */
}

.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);



}

.modal-content {

    padding-top: 10%;
    max-height: 100%;
    /* Ajusta la altura máxima del contenido del modal */
    max-width: 100%;
    /* Ajusta el ancho máximo del contenido del modal */
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    text-align: center;
    color: white;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .btn {
        margin-bottom: 1rem;
    }

    .proyectos {
        flex-direction: column;
        align-items: center;
    }

    .proyecto {
        max-width: 100%;
    }

    .foto {
        max-width: 100%;
    }

    .modal-content {
        padding-top: 55%;
        max-height: 100%;
        /* Ajusta la altura máxima del contenido del modal */
        max-width: 100%;
        /* Ajusta el ancho máximo del contenido del modal */
    }

    body {
        display: flex;
        flex-direction: column;
        /* Organiza el contenido en columna */
        min-height: 100vh;
        /* Asegura que el body tenga al menos la altura de la ventana */
        margin: 0;
        font-family: Arial, sans-serif;
        background-image: url('img/fondo2.jpg');
    
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
    
    }
}

@media (max-width: 480px) {
    header .btn {
        font-size: 1.2rem;
    }

    .modal-content {
        max-height: 90%;
        max-width: 90%;
    }

    .close {
        font-size: 30px;
        right: 20px;
    }

    .modal-content {
        padding-top: 55%;
        max-height: 100%;
        /* Ajusta la altura máxima del contenido del modal */
        max-width: 100%;
        /* Ajusta el ancho máximo del contenido del modal */
    }

    body {
        display: flex;
        flex-direction: column;
        /* Organiza el contenido en columna */
        min-height: 100vh;
        /* Asegura que el body tenga al menos la altura de la ventana */
        margin: 0;
        font-family: Arial, sans-serif;
        background-image: url('img/fondo1.jpg');
    
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
    
    }
}